/build/
/target/
pom.properties
*.tmp
*.dat
/ddb/eventManagerDB_v2_Derby10.9/bin/eventManager/log/*
/ddb/eventManagerDB_v2_Derby10.9/bin/eventManager/seg0/*
/ddb/eventManagerDB_v2_Derby10.9/bin/*.log
*.lck
/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
