@CHARSET "ISO-8859-1";

.eventLeftColumn legend {
	margin-bottom: 7px;
	font-size: 15px;
	border: 0;
	width: auto;
	color: #777;
}

.eventLeftColumn fieldset {
	border: 1px solid #ddd;
	padding: 7px;
	margin: 15px 7px;
}

.eventLeftColumn .blank {
	margin-top: 50px;
}

input.inputRegisterEvent {
	display: inline-block;
	width: 70%;
}

label.labelRegisterEvent {
	width: 25%;
	text-align: right;
	padding-right: 7px;
}

input.inputEvents {
	display: inline-block;
	width: 84%;
}

label.labelEvents {
	width: 15%;
	text-align: right;
	padding-right: 7px;
}

.eventLeftColumn {
	background-color: #fcfcfc;
	box-shadow: 1px 1px 1px 1px #f1f1f1;
	margin-top: 20px;
}

.eventRightColumn {
	margin: 20px 0px;
	padding: 2px 31px;
}

.eventRightColumn table tr td {
	padding: 9px 2px !important;
}

.connection {
	background-color: #fcfcfc;
	box-shadow: 1px 1px 1px 1px #f1f1f1;
	margin: 86px auto;
	width: 580px;
	padding: 1px 50px;
}

.register {
	background-color: #fcfcfc;
	box-shadow: 1px 1px 1px 1px #f1f1f1;
	margin: 86px auto;
	padding: 1px 50px;
}

.eventsView {
	margin-top: 50px;
	background-color: #fcfcfc;
	box-shadow: 1px 1px 1px 1px #f1f1f1;
	padding: 16px;
}

.eventsView .tab-pane {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 5px 15px;
}

h1 {
	background-color: #046380;
	color: #fff;
	font-weight: normal;
	/* 	text-transform: uppercase; */
	font-size: 26px;
	padding: 10px 35px;
	border-radius: 6px;
	margin: 25px 0px;
	box-shadow: 1px 1px 1px 1px #ddd;
	text-align: center;
}