<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>eventManager</display-name>
  <servlet>
    <description></description>
    <display-name>Events</display-name>
    <servlet-name>Events</servlet-name>
    <servlet-class>com.eventManager.servlets.Events</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Events</servlet-name>
    <url-pattern>/events</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Events</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.eventManager.servlets.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/error_404.jsp</location>
  </error-page>
  <filter>
    <display-name>ConnexionFilter</display-name>
    <filter-name>ConnexionFilter</filter-name>
    <filter-class>com.eventManager.servlets.ConnexionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ConnexionFilter</filter-name>
    <servlet-name>Events</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.eventManager.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.eventManager.servlets.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEvents</display-name>
    <servlet-name>DeleteEvents</servlet-name>
    <servlet-class>com.eventManager.servlets.DeleteEvents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEvents</servlet-name>
    <url-pattern>/DeleteEvents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishEvent</display-name>
    <servlet-name>PublishEvent</servlet-name>
    <servlet-class>com.eventManager.servlets.PublishEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishEvent</servlet-name>
    <url-pattern>/PublishEvent</url-pattern>
  </servlet-mapping>
</web-app>